<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<general>
		<!-- Run without touching the database -->
		<dryrun>false</dryrun>
		<!-- Operate on unchecked entries only -->
		<unchecked_only>false</unchecked_only>
		<!-- Global logging level -->
		<logging_level>info</logging_level>
		<!-- Inform about progress every X entries -->
		<print_threshold>100000</print_threshold>
	</general>
	<performance>
		<!-- Number of EntryProcessors -->
		<validation_threads>8</validation_threads>
		<!-- Database-related -->
		<db_fetch_size>100000</db_fetch_size>
		<db_batch_size>10000</db_batch_size>
		<!-- Max size of BlockingQueue -->
		<queue_size>1000</queue_size>
	</performance>
</configuration>